/* --------------------------------------------------------global------------------------------------------------------- */
* {
  margin: 0%;
  padding: 0%;
}

:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:root a {
  text-decoration: none;
}

:root ul {
  list-style: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent,#f2910a);
  border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent,#e14d2a);
} 
/* -------------------------------------------------------global ends--------------------------------------------------- */

/* ------------------------------------------------section starts---------------------------------------------------- */

.container {
  height: 200vh;
  width: 100%;
}

.inner-container {
  height: 100%;
  width: 100%;
}

/*--------------------------------------------------team page-----------------------------------------------------------*/
.team-top-image {
  background: linear-gradient(rgba(21, 10, 80, 0.74), rgba(21, 10, 80, 0.252)),
    url(Images/team\ image.jpg);
  background-size: cover;
  background-position: 100% -164%;
  height: 50vh;
  width: 100%;
  box-sizing: border-box;
  font-size: 2.5rem;
  color: aliceblue;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 8%;
  overflow-x: hidden;
}

.about-animation-wave {
  position: absolute;
  width: 500%;
  height: 6vh;
  bottom: 0;
  opacity: 0.2;
  left: 0;
  display: unset;
}

.black-box button {
  padding: 8px 20px;
  margin: 0px 5px;
  font-size: 1rem;
  background-color: transparent;
  color: aliceblue;
  border: 2px solid aliceblue;
  border-radius: 30px;
  font-weight: 500;
  cursor: pointer;
}

.black-box button:hover {
  background-color: #f7f7f8;
  color: #e14d2a;
  transition: 0.4s linear;
  font-weight: 500;
}

.team-intro-title {
  height: 25vh;
  font-size: 1.3rem;
  text-transform: uppercase;
  color: #383e56;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.team-intro-title hr {
  margin: 18px;
}

.staff-info {
  width: 100%;
  height: 100vh;
  padding: 5% 0%;
  background-size: cover;
}

.first-row {
  display: flex;
  justify-content: space-evenly;
}

.second-row {
  display: flex;
  justify-content: space-evenly;
  margin-top: 3%;
}

.cardbox {
  perspective: 500px;
  border-radius: 50%;
  height: 60vh;
  width: 30%;
}

.card {
  transform-style: preserve-3d;
  transition: 0.5s ease;
  height: 100%;
  width: 100%;
  position: relative;
  border-radius: 20px;
  box-shadow: inset 0px 0px 20px #fb7455;
}

.card-front,
.card-back {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  text-transform: uppercase;
  overflow: hidden;
  border-radius: 20px;
}

.card-front::before {
  content: '';
  position: absolute;
  width: 30%;
  height: 150%;
  background: linear-gradient(#e14d2a,#f2910a);
  animation: animate-boxes 5s linear infinite;
}

.card-front::after {
  content: '';
  position: absolute;
  inset: 4px;
  background: #ffffff;
  border-radius: 20px;
} 

.card-back {
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: justify;
  line-height: 1.5;
  background-color: #f2910a;
  color: #ffffff;
}

.card-back p {
  padding: 10%;
  transition: 3s linear;
}

.card-front {
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 4;
}
.card-front h3 {
  z-index: 2;
}

.card-front img {
  height: 40vh;
  width: 70%;
  border-radius: 50%;
  box-shadow: 3px 5px 20px #5e5e5e;
  z-index: 2;
}

.cardbox:hover .card {
  transform: rotateY(180deg);
}

.card-back {
  transform: rotateY(180deg);
}

.card-back:hover p
{
  animation: animate-text 0.5s linear;
}

.card-back:hover h3
{
  animation: animate-title 0.5s linear;
}

/* --------------------------------------------------------footer------------------------------------------------------ */

footer{
  width: 100%;
  height: 130vh;
  display: flex;
  justify-content: space-evenly;
  background: linear-gradient(rgba(3, 10, 50,0.5),rgba(3, 10, 50, 0.744)),url(Images/footer.jpg);
  background-size: cover;
  position: relative;
  overflow: hidden;
  transform: translateY(30%);
}

/* ----------------------------------------------------------box1--------------------------------------------------*/

.box1{
  height: 100%;
  width: 30%;
  
}

.box1 img{
  width: 25vh;
  height: 25vh;
  cursor: pointer;
}

.box1 h1{
  color: #f2910a;
  font-weight: 600;
  font-size: 33px;
}

.box1 span{
  color: #e14d2a;
}

.box1 .lside1{
  color: white;
  margin: 10% 0%;
  line-height: 1.6;
  text-align: justify;
}

.lside1 h3{
  text-align: center;
}

.lside1 span{
  color: white;
}

.box1 .lside2{
  color: white;
  margin: 10% 0%;
  line-height: 1.6;
  text-align: justify;
}

.lside2 h3{
  text-align: center;
}

.lside2 span{
  color: white;
}

.box1 .lside3{
  color: white;
  margin: 10% 0%;
  line-height: 1.6;
  text-align: justify;
}

.lside3 h3{
  text-align: center;
}

.lside3 span{
  color: white;
}

/* -------------------------------------------------------------------box1-end------------------------------- */

/* -------------------------------------------------------------------box2------------------------------------ */

.box2{
  height: 100%;
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}

.box2 h1{
  color: #f2910a;
  font-weight: 600;
  font-size: 33px; 
  margin: 10% 0% 5% 0%;
}

.box2 h2{
  color: #f2910a;
  font-weight: 600;
  font-size: 33px; 
  margin: -25% 0% 5% 0%;
}

.box2 span {
  color: #e14d2a;
}

.head-office{
  height: 70vh;
  display: flex;
  margin: 5% 0%;
}

.head-office .icons .icon{
  align-items: center;
  margin: 70%;
} 

.head-office .icons {
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  height: 55%;
  width: 10%;
  margin: 0% 5%;
}

.head-office .social{
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: white;
}

.head-office .social h4{
  margin: 3% 0% 0% 0%;
}

.branch-office{
  height: 70vh;
  display: flex;
}

.branch-office .icons .icon{
  align-items: center;
  margin: 75%;
} 

.branch-office .icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  height: 55%;
  width: 10%;
  margin: 0% 5%;
}

.branch-office .social{
  height: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: white;
}

.end{
  margin: 0% 25% 3% 25%;
  text-align: center;
  align-items: center;
  color: white;
  transform: translateX(-50%);
}

.end a{
  color: #ff0000;
}

.end a:hover{
  color:#f2910a;
}

/* -------------------------------------------------------------------box2-end------------------------------------ */

/* -------------------------------------------------------------------box3-------------------------------------- */

.box3{
  height: 100%;
  width: 15%;
}

.box3 h1{
  color: #f2910a;
  font-weight: 600;
  font-size: 33px; 
  margin: 20% 0%;
}

.box3 span{
  color: #e14d2a;
}

.box3 .link{
  display: flex;
  flex-direction: column;
}

.link a{
  color: white;
  margin: 5% 0%;
  font-weight: 700;
  cursor: pointer;
}

.link a:hover{
  color: red;
}

.link a:hover big{
  color: red;
}

.link span{
  color: yellow;
}

.box3 .img1{
  width: 100%;
  margin: 15% 0%;
}

.box3 .img2{
  width: 115%;
  margin: 0% -8%;
  cursor: pointer;
}

/* ---------------------------------------------------------------------box3-end------------------------------- */

/* ---------------------------------------footerclosed--------------------------------------------------------- */

/* ---------------------------------------footer-ends---------------------------------------------------------  */


/* ------------------------------------------------section ends------------------------------------------------------ */
/* ------------------------------------------------team page completed----------------------------------------------- */
